exportPattern("^[[:alpha:]]+")
import(methods, grDevices, graphics, stats, utils, reader, NCmisc, bigmemory)
importFrom(parallel, mclapply)
importFrom(irlba, irlba)
S3method("$", bigpca_result)
S3method("[[", bigpca_result)
S3method(print, bigpca_result)
